<!DOCTYPE html>
<html>
  <head>
    <title>ParticipantTrackingApp</title>
    <link rel="stylesheet" href="/assets/application.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar">
      <div class="container">
        <a class="navbar-logo" href="/">Participant Tracking</a>
        <br>
        <br>
        <ul class="navbar-nav">
          <li><a href="/coordinators">Coordinators</a></li>
          <li><a href="/registries">Registries</a></li>
          <li><a href="/participants">Participants</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
